<h1 class="mb-3">Historical Consumption by Client</h1>
<mat-grid-list gutterSize="24" cols="12" class="filters" [formGroup]="filtersForm">
  <mat-grid-tile colspan="3">
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input formControlName="startDate" matInput [matDatepicker]="startDatePicker">
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input formControlName="endDate" matInput [matDatepicker]="endDatePicker">
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <mat-form-field appearance="outline">
      <mat-label>Client Type</mat-label>
      <mat-select formControlName="clientType">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let clientType of clientTypes" [value]="clientType.id">
          {{clientType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <button
      mat-raised-button
      color="primary"
      (click)="clearFilters()"
      [disabled]="!filtersForm.dirty"
    >
      Clear Filters
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon>table_rows</mat-icon></ng-template>
    <app-history-table [data]="history" [total]="length" (onChangePaginator)="handlePageEvent($event)" />
  </mat-tab>

  <mat-tab >
    <ng-template mat-tab-label><mat-icon>insights</mat-icon></ng-template>
    <app-clients-graph />
  </mat-tab>
</mat-tab-group>
