<h1 class="mb-3">Worst Legs/Customer</h1>
<mat-grid-list gutterSize="24" cols="12" class="filters" [formGroup]="filtersForm">
  <mat-grid-tile colspan="3">
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input formControlName="startDate" matInput [matDatepicker]="startDatePicker">
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input formControlName="endDate" matInput [matDatepicker]="endDatePicker">
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <mat-form-field appearance="outline">
      <mat-label>Line</mat-label>
      <mat-select formControlName="line">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let line of lines" [value]="line.id">
          {{line.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <mat-form-field appearance="outline">
      <mat-label>Client Type</mat-label>
      <mat-select formControlName="clientType">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let clientType of clientTypes" [value]="clientType.id">
          {{clientType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="clientTypeId">
    <th mat-header-cell *matHeaderCellDef> Client </th>
    <td mat-cell *matCellDef="let element"> {{element.clientTypeId|clientType}} </td>
  </ng-container>

  <ng-container matColumnDef="lineId">
    <th mat-header-cell *matHeaderCellDef> Line </th>
    <td mat-cell *matCellDef="let element"> {{element.lineId|line}} </td>
  </ng-container>

  <ng-container matColumnDef="loss">
    <th mat-header-cell *matHeaderCellDef> Loss </th>
    <td mat-cell *matCellDef="let element"> {{element.loss}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date|date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  aria-label="Select page"
  (page)="handlePageEvent($event)"
  showFirstLastButtons
  #paginator
>
</mat-paginator>
